/* * { 
    border: 1px solid pink;
} */

/* header { 
    border: 1px solid pink;
} */

.no-lower-right {
    border-bottom-right-radius: 0px !important;
}

.row-spacing { 
    margin-bottom: 10px !important;
}