/* * { 
    border: 1px solid pink;
} */

/* header { 
    border: 1px solid pink;
} */

.no-lower-right {
    border-bottom-right-radius: 0px !important;
}

.row-spacing { 
    margin-bottom: 10px !important;
}

.no-top-padding {
    padding-top : 0rem !important;
    padding-bottom: 0rem !important;
}