.sand-sauce {
    background-color: #c48f14 !important;
}

.topical-rain-forest {
    background-color : #037367 !important;
}

.mantucket { 
    background-color: #9AABB9 !important;
}

.macaron {
    background-color: #f7dfd4 !important;
}

.glass {
    background-color :#edfafd !important;
}

.platinum {
    background-color: #D8E4E6 !important;
}

.night-fall {
    background-color: #351c4d !important;
}

.cream {
    background: #e9dccd !important;
}

.wagenigen-green {
    background: #21ba45 !important;
}

.tuscany {
    background: #c5919d !important;
}

.papaya-whip {
    background: #e7b183 !important;
}

.white-smoke {
    background: #FAF5F6 !important;
}

.isabelline {
    background: #F5EFE8 !important;
}

.platinum-ii {
    background : #E8ECE5 !important;
}

.usilk {
    background : #e7cc8f !important;
}